

body {
  text-align: center;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
.cursors {
  display: flex;
  flex-wrap: wrap-reverse;
  position: absolute;
  top: 300px;
  right: 200px;
}
.cursors > div {

  padding: 10px 2px;
  height:50px;
  width: 50px;
  white-space: nowrap;
  border: 3px solid red;
  border-radius: 5px;
  margin: 0 5px 5px 0;
}
{
  background: red;
   height: 1000px;
  width: 2090px;


}

.cursors > div:hover  {
  height: 50px;
  width: 50px;
  margin: 400 auto;
  background-color: blue;
  animation-name: stretch;
  animation-duration: 3s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 10;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;

}


@keyframes stretch {
  0% {
    transform: scale(1);
    background-color: red;
    

  }

  
  10% {
    transform: scale(3);
    background-color: yellow;




  }
}